section.menu section.barra{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 2rem;
    color: rgb(122, 123, 124);
    
}

section.menu section.barra div.alura{
    display: flex;
}

.titulo__barra span{
    color: aqua;
}


@media screen and (max-width:768px) {
    section.menu section.barra{
        display: flex;
        flex-direction: column;
    }
    
}